$red: #f45b5b;
$orange: rgb(255, 183, 0);
$blue: rgb(0, 170, 255);
$green: rgb(0, 228, 87);
@import './zoom.scss';
.user-marker {
    width: 20px !important; height: 20px !important;
    max-height: 20px !important;
    background: $blue;
    border-radius: 50%;
}
.mapboxgl-popup {
    max-width: 270px;
}
.sidebar__outer {
    position: fixed;
    top: 5px;
    left: 15px;
    width: 350px;
    height: 96vh;
    display: flex;
    z-index: 10;
}
.sidebar {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family: roboto;
    font-size: 20px;
    width: 80%;
    height: 96vh;
    order: 1;
    border-radius: 4px;
}
$pad: 10px;
.sidebar .top {
    background: $red;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 6px 0 0 6px;
    padding: $pad 0px;
}
.sidebar .top input {
    border: none;
    padding: 2px;
    border-radius: 4px 0 0 4px;
    width: 80%;
    user-select: all !important;
    margin-left: $pad;
}
.sidebar .top button {
    width: 20%;
    flex-shrink: 0;
    min-width: 60px;
    background: black; color: white;
    border: none;
    height: 20px;
    border-radius: 0 4px 4px 0;
}
.sidebar .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
    padding-top: 15px;
    height: 100%;
}
.sidebarBtn {
    width: 20%; height: 50px;
    background: $red;
    z-index: 10;
    // position:fixed;
    height: 41.3px;
    border: 0;
    order: 2;
    // top: 5px;
    font-size: 26px;
    border-radius: 0 6px 6px 0;
} 
@media (max-width: 620px) {
    .sidebar__outer {
        width: 250px;
    }
    // .sidebar .top {
    //     width: 200px;
    // }
}
.body-item {
    background: rgba(134, 134, 134, 0.5);
    width: 85%;
    padding: 5%;
    font-family: roboto;
    h2 {
        font-size: 20px;
        margin:0;
    }
    h3 {
        font-size: 18px;
        margin:0;
    }
    h4 {
        font-size: 16px;
        margin:0;
    }
    h5 {
        font-size: 16px;
        margin:0;
    }
}
.filter__outer {
    position: fixed;
    right:10px; top:5px;
    width: 200px; display: flex;
    z-index: 9;
    align-items: center; height: 41px;
}
.filter {
    width: 100%;
    z-index: 100;
}
.filter select {
    width: 80%;
    height: 19.3px;
    float: right;
    border: 1px solid $red;
    border-radius: 4px;
}
.filter select option {
    word-break: break-all;
}
.map {
    width: 100%; height: 100vh;
    position: fixed; top: 0; left: 0;
    z-index: 1;
}
//my-class mapboxgl-marker mapboxgl-marker-anchor-center
.mapboxgl-marker {
    background-size: cover;
    width: 26px;
    height: 40px;
    cursor: pointer;
}
.my-class {
    background-image: url('../../images/1_new.png');
}
.w-90 {
    width: 90%;
    margin-left: 5%;
}
.mapboxgl-popup-content {
    padding: 0 !important;
    font-family: roboto;
    .flex {
        display: flex;
    }
    .w-80 {
        width: 80%;
    }
    .w-20 {
        width: 20%; display: flex; justify-content: center;
        button {
            background: $blue;
            width: 40px; height: 40px;
            margin-top:5px;
            a {
                text-decoration: none;
            }
        }
    }
    h2 {
        font-weight: 500;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size:16px;
        margin: 2px 0;
    }
    h5 {
        margin: 2px 0;
        font-style: italic;
        font-size: 12px;
        font-weight: 400;
        color: grey;
    }
    h3 {
        margin: 2px 0;
        font-weight: 500;
        font-size: 13px;
    }
    h4 {
        margin: 2px 0;
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
    }
    #contact {
        margin: 2px 0;
        font-size: 14px;
        font-weight: 600;
    }
}
.mapboxgl-popup-content #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 15px;
    span {
        color: red !important;
    }
    .col1 {
        width: 33%;
        h2 { font-size: 13px; margin: 0; text-transform: uppercase; }
        h4 { font-style: normal; margin: 5px 0; color: green; font-weight: 400; text-transform: uppercase; }
    }
    .col2 {
        width: 33%;
        h2 { font-size: 13px; margin: 0;  text-transform: uppercase; }
        h4 { font-style: normal; margin: 5px 0; color: green; font-weight: 400; text-transform: uppercase; }
    }
    .col3 {
        width: 33%;
    }
    #pop-up {
        display: none;
        width: 125px;
        padding:5px;
        height: 70px;
        background: #767676;
        left: auto;
        position: absolute;
        right: 0;
        flex-direction: column;
        margin-top: -80px;
        border
        a {
            color: white; text-decoration: none; 
            font-family: helvetica;
            font-size: 18px;
            text-align: center;
        }
        #pop-close {
            width: 100%;
            height: 25px;
            color: white;
            margin-top:-3px;
            font-size: 18px;
            text-align: right;
        }
    }
    button {
        color: white;
        font-family: helvetica;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        padding:7px 10px;
        border-radius: 4px;
        margin-bottom: 5px;
        a {
            color: white; text-decoration: none;
        }
    }
    .green {
        background: $green;
    }
    .blue {
        background: $blue;
    }
    .orange {
        background: $orange;
    }
}
.mapboxgl-popup-content #header {
    background: rgb(237, 217, 170);
    width: 100%;
    padding: 10px 0;
    font-family: roboto;
    font-weight: 600;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 18px;
}

