$red: #f45b5b;
.sidebar {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family: roboto;
    font-size: 20px;
    z-index: 10;
    width: 300px;
    position: fixed;
    top: 5px;
    left: 15px;
    height: 96vh;
    border-radius: 4px;
}
$pad: 10px;
.sidebar .top {
    width: 100%;
    background: $red;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: $pad 0px;
}
.sidebar .top input {
    border: none;
    padding: 2px;
    margin-left: $pad;
}
.sidebar .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
    padding-top: 15px;
    height: 100%;
}
.body-item {
    background: rgba(134, 134, 134, 0.5);
    width: 90%;
}
.filter {
    position: fixed;
    right:10px; top:10px;
    width: 200px;
    background:white;
    z-index: 100;
}
.filter select {
    width: 100%;
}
.filter select option {
    word-break: break-all;
}
.map {
    width: 100%; height: 100vh;
    position: fixed; top: 0; left: 0;
    z-index: 1;
}
//my-class mapboxgl-marker mapboxgl-marker-anchor-center
.mapboxgl-marker {
    background-size: cover;
    width: 35px;
    height: 50px;
    cursor: pointer;
}
.my-class {
    background-image: url('../../images/1_new.png');
}
.w-90 {
    width: 90%;
    margin-left: 5%;
}
.mapboxgl-popup-content {
    padding: 0 !important;
    font-family: roboto;
    h2 {
        text-align: center;
        font-weight: 400;
        margin-bottom: 8px;
        font-size:16px;
        margin-left: auto; margin-left: auto;
    }
    h3 {
        margin: 0;
        margin-left: auto;
        font-weight: 400;
        margin-left: auto;
        font-size: 13px;
        margin-bottom: 25px;
    }
    #contact {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
.mapboxgl-popup-content #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    button {
        background: none;
        border: none;
        width: 40px; height: 40px;
        flex-shrink: 0;
        background-image: url('../../images/openmaps_button.png');
        background-position: 50% 50%;
        background-size: cover;
        margin-right: 5px;
    }
    button:nth-child(2) {
        background-image: url('../../images/call_button.png');
    }
    #dets {
        padding-bottom: 10px; padding-top: 5px;
        p {padding: 0; margin:0;}
    }
}
.mapboxgl-popup-content #header {
    background: $red;
    width: 100%;
    padding: 8px 0;
    font-family: roboto;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 18px;
}