$red: #f45b5b;
$orange: rgb(255, 183, 0);
$blue: rgb(0, 170, 255);
$green: rgb(0, 228, 87);
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./zoom.scss";
body {
    font-family: 'roboto';
}
select {
    cursor: pointer;
}
select option {
    font-family: 'roboto';
}
.mapboxgl-popup {
    max-width: 270px;
}
.sidebar__outer {
    position: fixed;
    top: 5px;
    // left: 15px;
    width: 350px;
    height: 96vh;
    display: flex;
    z-index: 10;
}
.sidebar {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family: roboto;
    font-size: 20px;
    width: 80%;
    height: 96vh;
    order: 1;
    border-radius: 4px;
}
$pad: 10px;
.sidebar .top {
    background: $red;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 6px 0 0 6px;
    padding: $pad 0px;
}
.sidebar .top input {
    border: none;
    padding: 2px;
    border-radius: 4px 0 0 4px;
    width: 80%;
    user-select: all !important;
    margin-left: $pad;
}
.sidebar .top button {
    width: 20%;
    flex-shrink: 0;
    min-width: 60px;
    background: black;
    color: white;
    border: none;
    height: 20px;
    border-radius: 0 4px 4px 0;
}
.sidebar .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: scroll;
    padding-top: 15px;
    height: 100%;
    position: relative;
}
.sidebar .body::-webkit-scrollbar {
    width: 12px;
    background-color: grey;
    position: relative;
}
.sidebar .body::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}
.sidebarBtn {
    width: 20%;
    height: 50px;
    background: $red;
    z-index: 10;
    // position:fixed;
    height: 41.3px;
    border: 0;
    order: 2;
    // top: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 26px;
    border-radius: 0 6px 6px 0;
}
@media (max-width: 620px) {
    .sidebar__outer {
        width: 250px;
    }
    // .sidebar .top {
    //     width: 200px;
    // }
}
.body-item {
    background: rgba(134, 134, 134, 0.5);
    width: 85%;
    padding: 5%;
    font-family: roboto;
    h2 {
        font-size: 20px;
        margin: 0;
    }
    h3 {
        font-size: 18px;
        margin: 0;
    }
    h4 {
        font-size: 16px;
        margin: 0;
    }
    h5 {
        font-size: 16px;
        margin: 0;
    }
}
.mapboxgl-popup {
    z-index: 10 !important;
}
.filter__outer {
    position: fixed;
    right: 10px;
    backdrop-filter: blur(10px);
    top: 5px;
    gap: 3px;
    width: 200px;
    font-family: Manrope;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 9;
    align-items: center;
    height: 62px;
}
.filter {
    width: 80%;
    z-index: 100;
}
.filter select {
    width: 100%;
    height: 19.3px;
    float: right;
    border: 1px solid $red;
    border-radius: 4px;
}
.filter select option {
    word-break: break-all;
}
.map {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
//my-class mapboxgl-marker mapboxgl-marker-anchor-center
.mapboxgl-marker {
    background-size: cover;
    width: 26px;
    height: 40px;
    cursor: pointer;
}
.my-class {
    background-image: url("../../images/1_new.png");
}
.w-90 {
    width: 90%;
    margin-left: 5%;
}
.mapboxgl-popup-content {
    padding: 0 !important;
    font-family: roboto;
    .flex {
        display: flex;
    }
    .w-80 {
        width: 80%;
    }
    .w-20 {
        width: 20%;
        display: flex;
        justify-content: center;
        button {
            background: $blue;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 5px;
            margin-top: 5px;
            a {
                text-decoration: none;
            }
        }
    }
    h2 {
        font-weight: 500;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: 16px;
        margin: 2px 0;
    }
    h5 {
        margin: 2px 0;
        font-style: italic;
        font-size: 12px;
        font-weight: 400;
        color: grey;
    }
    h3 {
        margin: 2px 0;
        font-weight: 500;
        font-size: 13px;
    }
    h4 {
        margin: 2px 0;
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
    }
    #contact {
        margin: 2px 0;
        font-size: 14px;
        font-weight: 600;
    }
}
.mapboxgl-popup-content #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 15px;
    span {
        color: red !important;
    }
    .col1 {
        width: 33%;
        h2 {
            font-size: 13px;
            margin: 0;
            text-transform: uppercase;
        }
        h4 {
            font-style: normal;
            margin: 5px 0;
            color: green;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    .col2 {
        width: 33%;
        h2 {
            font-size: 13px;
            margin: 0;
            text-transform: uppercase;
        }
        h4 {
            font-style: normal;
            margin: 5px 0;
            color: green;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    .col3 {
        width: 33%;
    }
    button {
        color: white;
        font-family: helvetica;
        text-transform: uppercase;
        border: none;
        font-weight: 600;
        padding: 7px 10px;
        border-radius: 4px;
        margin-bottom: 5px;
        a {
            color: white;
            text-decoration: none;
        }
    }
}
.green {
    background: $green;
}
.blue {
    background: $blue;
}
.orange {
    background: $orange;
}
.pop-up-outer {
    width: 240px;
    display: none;
    justify-content: center;
    position: absolute;
}
#pop-up {
    width: 125px;
    padding: 5px;
    height: auto;
    padding-bottom: 20px;
    background: #6565657c;
    flex-direction: column;
    backdrop-filter: blur(10px);
    // margin-top: -80px;
    a {
        color: white;
        text-decoration: none;
        font-family: helvetica;
        font-size: 20px;
        text-align: center;
    }
    label {
        color: white;
        text-decoration: none;
        font-family: helvetica;
        font-size: 16px;
        text-align: center;
    }
    .pop-body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #pop-close {
        width: 100%;
        height: 14px;
        color: white;
        margin-top: -3px;
        font-family: Manrope;
        font-size: 15px;
        text-align: right;
    }
}
.mapboxgl-popup-content #header {
    background: rgb(237, 217, 170);
    width: 100%;
    padding: 10px 0;
    font-family: roboto;
    font-weight: 600;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 18px;
}

.user {
    font-family: Manrope;
}
.user select {
    padding: 4px 10px;
}
.user button {
    padding: 2px 10px;
    background: black; color: white;
    font-family: Manrope;
}
.user-pop {
    padding: 15px;
    font-family: Manrope;
}
.user-green {
    background: $green;
}
.user-green:before {
    background: $green !important;
    opacity: 0.3;
}
.user-blue {
    background: $blue;
}
.user-blue:before {
    background: $blue !important;
    opacity: 0.3;
}
.user-yellow {
    background: $orange;
}
.user-yellow:before {
    background: $orange !important;
    opacity: 0.3;
}
.user-red {
    background: $red;
}
.user-red:before {
    background: $red;
    opacity: 0.3;
}
.user-marker {
    width: 12px !important;
    height: 12px !important;
    max-height: 20px !important;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(2);
    }
}
.user-marker:before {
    content: "";
    top: 0; left: 0;
    width: 12px; height: 12px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    animation: scale 1s infinite;
}